html {
  background-color: black;
}

body {
  opacity: 1;
  transition: 1s opacity;
}

.fade-out {
  opacity: 0;
  transition: none;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  transition: 1s;
}

.start-search {
  position: absolute;
  top: 50%;
  left: 33%;
  width: 30%;
}

#textarea1 {
  color: white;
}

.input-field textarea:focus + label {
  color: #d4e157 !important;
}


.row .input-field textarea:focus {
  border-bottom: 1px solid #d4e157 !important;
  box-shadow: 0 1px 0 0 #d4e157 !important;
}


.fadedout {
  opacity: 0;
  transition: 1s;
  scale: .8;
}

.snarkleFoot {
  transform: scale(3);
  opacity: 0;
}

.leftCol {
  padding-left: 2%;
}

.forecast {
  opacity: 1;
  transition: 1s;
}

.leftBox {
  background-color:  #d4e157;
  opacity: .8;
  border: solid  #c1c977;
  border-radius: 10px;
  position: absolute;
  top: 10%;
  right: 10%;
  width: 100%;
  height: 87%;
}

.rightBox {
  background-color:  #d4e157;
  border: solid  #c1c977;
  opacity: .8;
  border: solid  #c1c977;
  border-radius: 10px;
  position: absolute;
  top: 10%;
  left: 20%;
  width: 78%;
  height: 47%;
}

.rightBoxTwo {
  background-color:  #d4e157;
  border: solid  #c1c977;
  opacity: .8;
  border: solid  #c1c977;
  border-radius: 10px;
  position: absolute;
  top: 58%;
  left: 20%;
  width: 78%;
  height: 39%;
}

.recent-searches{
  text-align: center;
  border-bottom: ridge grey;
}

h5 {
  padding-bottom: 10px;
}

a h5 {
  color: black;
}

a h5:hover {
  font-size: 2rem;
}

.rSRow {
  background-color:  grey;
  border: solid   grey;
  opacity: .8;
  border: solid   grey;
  border-radius: 10px;
  display: inline-block;
  position: relative;
  left: 12.5%;
  width: 80%;
  height: auto;
  text-align: center;
}

.current-city {
  color: black;
  text-align: center;
  width: 100%;
  height: auto;
  padding: 0;
}

.cForecast {
  background-color:  grey;
  border: solid   grey;
  opacity: .8;
  display: inline-block;
  position: absolute;
  top: 10%;
  border-radius: 10px;
  width: 100%;
  height: 80%;
  text-align: center;
  color: black; 
}

#UV-current {
  display: inline;
}
.uvNumGreen {
  background-color:green;
  text-align: center;
  border-radius: 10px;
  display: inline;
}

.uvNumYellow {
  background-color: yellow;
  text-align: center;
  border-radius: 10px;
  display: inline;
}

.uvNumOrange {
  background-color: orange;
  text-align: center;
  border-radius: 10px;
  display: inline;
}

.uvNumRed {
  background-color: red;
  text-align: center;
  border-radius: 10px;
  display: inline;
}

.uvNumPurple {
  background-color: rgb(170, 80, 170);
  text-align: center;
  border-radius: 10px;
  display: inline;
}

.fcBox1 {
  background-color:  grey;
  border: solid   grey;
  opacity: .8;
  border: solid   grey;
  display: inline;
  position: absolute;
  top: 10%;
  left: 4%;
  border-radius: 10px;
  width: 17%;
  height: 80%;
  text-align: center;
  color: black; 
}

.fcBox2 {
  background-color:  grey;
  border: solid   grey;
  opacity: .8;
  border: solid   grey;
  display: inline;
  position: absolute;
  top: 10%;
  left: 22.75%;
  border-radius: 10px;
  width: 17%;
  height: 80%;
  text-align: center;
  color: black; 
}

.fcBox3 {
  background-color:  grey;
  border: solid   grey;
  opacity: .8;
  border: solid   grey;
  display: inline;
  position: absolute;
  top: 10%;
  left: 41.5%;
  border-radius: 10px;
  width: 17%;
  height: 80%;
  text-align: center;
  color: black; 
}

.fcBox4 {
  background-color:  grey;
  border: solid   grey;
  opacity: .8;
  border: solid   grey;
  display: inline;
  position: absolute;
  top: 10%;
  left: 60.25%;
  border-radius: 10px;
  width: 17%;
  height: 80%;
  text-align: center;
  color: black; 
}

.fcBox5 {
  background-color:  grey;
  border: solid   grey;
  opacity: .8;
  border: solid   grey;
  display: inline;
  position: absolute;
  top: 10%;
  left: 79%;
  border-radius: 10px;
  width: 17%;
  height: 80%;
  text-align: center;
  color: black; 
}

.newFade {
  opacity: 0;
  transition: 1s;
}

@media only screen and (max-width: 1400px) {
  .leftBox {
    order: 3;
    position: unset;
    width: 100%;
    height: auto;
  }
  
  .rightBox {
    order: 1;
    position: unset;
    width: 100%;
    height: auto;
  }
  
  .rightBoxTwo {
    order: 2;
    position: unset;
    width: 100%;
    height: auto;
  }
  
  .fcBox1 {
    position: unset;
    width: 80%;
    height: auto;
    display: inline-block;
    margin: 20px;
  }
  
  .fcBox2 {
    position: unset;
    width: 80%;
    height: auto;
    display: inline-block;
    margin: 20px;
  }
  
  .fcBox3 {
    position: unset;
    width: 80%;
    height: auto;
    display: inline-block;
    margin: 20px;
  }
  
  .fcBox4 {
    position: unset;
    width: 80%;
    height: auto;
    display: inline-block;
    margin: 20px;
  }
  
  .fcBox5 {
    position: unset;
    width: 80%;
    height: auto;
    display: inline-block;
    margin: 20px;
  }

  .cForecast {
    position: unset;
    width: 80%;
    margin: 20px;
  }
}